body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    background: white;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:-10px;
    margin-top: 10px;
}
.close-modal button{
    color: #fff;
    background-color: #ff4141;
    border-radius: 10px;
    padding: 8px 16px;
    border: 2px solid #ff4141;
}
.modal-content h2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:-10px;
    margin-bottom: 10px;
}
