/* .main-search{
    width: 50%;
    margin: 50px auto;
    position: relative;
}
.has-search .form-control-feedback {
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
} */